# Production only has:
# postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Development has the above and:
DATABASE_URL=

JWT_KEY=

# Encryption:
EMAIL_ENCRYPTION_KEY=
